{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<style>
    p{
        margin: 10px 50px 10px;
        padding: 10px 50px 10px;
    }
</style>
<p><h2>This is about block</h2></p><hr>
<p>There are more than 500 million indigenous people in some 70 countries worldwide. The United Nations General Assembly on 13 September 2007 adopted the Declaration on the Rights of Indigenous Peoples and the Indegenous was born out of the same spirit.</p>

 <p>   ‍
    Indigenous peoples are recognized largely in the context of colonialism: as the original peoples of the land. However, in the context of The Indegenous, we recognize indigenous peoples in terms of kinship, history and self-identification. </p>
 <p>   
    ‍Although we represent 5% of the world’s population, we account for 15% of the poorest. Many of us don’t have formal recognition over our lands, territories and natural resources.  And while there have been improvements in international recognition of our peoples, we still have a long way to go.</p>


{% endblock body %}